.col-1 {
  width: 4.16667px;
}

.col-2 {
  width: 8.33333px;
}

.col-3 {
  width: 12.5px;
}

.col-4 {
  width: 16.66667px;
}

.col-5 {
  width: 20.83333px;
}

.col-6 {
  width: 25px;
}

.col-7 {
  width: 29.16667px;
}

.col-8 {
  width: 33.33333px;
}

.col-9 {
  width: 37.5px;
}

.col-10 {
  width: 41.66667px;
}

.col-11 {
  width: 45.83333px;
}

.col-12 {
  width: 50px;
}

.col-13 {
  width: 54.16667px;
}

.col-14 {
  width: 58.33333px;
}

.col-15 {
  width: 62.5px;
}

.col-16 {
  width: 66.66667px;
}

.col-17 {
  width: 70.83333px;
}

.col-18 {
  width: 75px;
}

.col-19 {
  width: 79.16667px;
}

.col-20 {
  width: 83.33333px;
}

.col-21 {
  width: 87.5px;
}

.col-22 {
  width: 91.66667px;
}

.col-23 {
  width: 95.83333px;
}

.col-24 {
  width: 100px;
}

@media (min-width: 576px) {
  .col-sm-1 {
    width: 4.16667px;
  }
  .col-sm-2 {
    width: 8.33333px;
  }
  .col-sm-3 {
    width: 12.5px;
  }
  .col-sm-4 {
    width: 16.66667px;
  }
  .col-sm-5 {
    width: 20.83333px;
  }
  .col-sm-6 {
    width: 25px;
  }
  .col-sm-7 {
    width: 29.16667px;
  }
  .col-sm-8 {
    width: 33.33333px;
  }
  .col-sm-9 {
    width: 37.5px;
  }
  .col-sm-10 {
    width: 41.66667px;
  }
  .col-sm-11 {
    width: 45.83333px;
  }
  .col-sm-12 {
    width: 50px;
  }
  .col-sm-13 {
    width: 54.16667px;
  }
  .col-sm-14 {
    width: 58.33333px;
  }
  .col-sm-15 {
    width: 62.5px;
  }
  .col-sm-16 {
    width: 66.66667px;
  }
  .col-sm-17 {
    width: 70.83333px;
  }
  .col-sm-18 {
    width: 75px;
  }
  .col-sm-19 {
    width: 79.16667px;
  }
  .col-sm-20 {
    width: 83.33333px;
  }
  .col-sm-21 {
    width: 87.5px;
  }
  .col-sm-22 {
    width: 91.66667px;
  }
  .col-sm-23 {
    width: 95.83333px;
  }
  .col-sm-24 {
    width: 100px;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    width: 4.16667px;
  }
  .col-md-2 {
    width: 8.33333px;
  }
  .col-md-3 {
    width: 12.5px;
  }
  .col-md-4 {
    width: 16.66667px;
  }
  .col-md-5 {
    width: 20.83333px;
  }
  .col-md-6 {
    width: 25px;
  }
  .col-md-7 {
    width: 29.16667px;
  }
  .col-md-8 {
    width: 33.33333px;
  }
  .col-md-9 {
    width: 37.5px;
  }
  .col-md-10 {
    width: 41.66667px;
  }
  .col-md-11 {
    width: 45.83333px;
  }
  .col-md-12 {
    width: 50px;
  }
  .col-md-13 {
    width: 54.16667px;
  }
  .col-md-14 {
    width: 58.33333px;
  }
  .col-md-15 {
    width: 62.5px;
  }
  .col-md-16 {
    width: 66.66667px;
  }
  .col-md-17 {
    width: 70.83333px;
  }
  .col-md-18 {
    width: 75px;
  }
  .col-md-19 {
    width: 79.16667px;
  }
  .col-md-20 {
    width: 83.33333px;
  }
  .col-md-21 {
    width: 87.5px;
  }
  .col-md-22 {
    width: 91.66667px;
  }
  .col-md-23 {
    width: 95.83333px;
  }
  .col-md-24 {
    width: 100px;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    width: 4.16667px;
  }
  .col-lg-2 {
    width: 8.33333px;
  }
  .col-lg-3 {
    width: 12.5px;
  }
  .col-lg-4 {
    width: 16.66667px;
  }
  .col-lg-5 {
    width: 20.83333px;
  }
  .col-lg-6 {
    width: 25px;
  }
  .col-lg-7 {
    width: 29.16667px;
  }
  .col-lg-8 {
    width: 33.33333px;
  }
  .col-lg-9 {
    width: 37.5px;
  }
  .col-lg-10 {
    width: 41.66667px;
  }
  .col-lg-11 {
    width: 45.83333px;
  }
  .col-lg-12 {
    width: 50px;
  }
  .col-lg-13 {
    width: 54.16667px;
  }
  .col-lg-14 {
    width: 58.33333px;
  }
  .col-lg-15 {
    width: 62.5px;
  }
  .col-lg-16 {
    width: 66.66667px;
  }
  .col-lg-17 {
    width: 70.83333px;
  }
  .col-lg-18 {
    width: 75px;
  }
  .col-lg-19 {
    width: 79.16667px;
  }
  .col-lg-20 {
    width: 83.33333px;
  }
  .col-lg-21 {
    width: 87.5px;
  }
  .col-lg-22 {
    width: 91.66667px;
  }
  .col-lg-23 {
    width: 95.83333px;
  }
  .col-lg-24 {
    width: 100px;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    width: 4.16667px;
  }
  .col-xl-2 {
    width: 8.33333px;
  }
  .col-xl-3 {
    width: 12.5px;
  }
  .col-xl-4 {
    width: 16.66667px;
  }
  .col-xl-5 {
    width: 20.83333px;
  }
  .col-xl-6 {
    width: 25px;
  }
  .col-xl-7 {
    width: 29.16667px;
  }
  .col-xl-8 {
    width: 33.33333px;
  }
  .col-xl-9 {
    width: 37.5px;
  }
  .col-xl-10 {
    width: 41.66667px;
  }
  .col-xl-11 {
    width: 45.83333px;
  }
  .col-xl-12 {
    width: 50px;
  }
  .col-xl-13 {
    width: 54.16667px;
  }
  .col-xl-14 {
    width: 58.33333px;
  }
  .col-xl-15 {
    width: 62.5px;
  }
  .col-xl-16 {
    width: 66.66667px;
  }
  .col-xl-17 {
    width: 70.83333px;
  }
  .col-xl-18 {
    width: 75px;
  }
  .col-xl-19 {
    width: 79.16667px;
  }
  .col-xl-20 {
    width: 83.33333px;
  }
  .col-xl-21 {
    width: 87.5px;
  }
  .col-xl-22 {
    width: 91.66667px;
  }
  .col-xl-23 {
    width: 95.83333px;
  }
  .col-xl-24 {
    width: 100px;
  }
}

@media (min-width: 1367px) {
  .col-xxl-1 {
    width: 4.16667px;
  }
  .col-xxl-2 {
    width: 8.33333px;
  }
  .col-xxl-3 {
    width: 12.5px;
  }
  .col-xxl-4 {
    width: 16.66667px;
  }
  .col-xxl-5 {
    width: 20.83333px;
  }
  .col-xxl-6 {
    width: 25px;
  }
  .col-xxl-7 {
    width: 29.16667px;
  }
  .col-xxl-8 {
    width: 33.33333px;
  }
  .col-xxl-9 {
    width: 37.5px;
  }
  .col-xxl-10 {
    width: 41.66667px;
  }
  .col-xxl-11 {
    width: 45.83333px;
  }
  .col-xxl-12 {
    width: 50px;
  }
  .col-xxl-13 {
    width: 54.16667px;
  }
  .col-xxl-14 {
    width: 58.33333px;
  }
  .col-xxl-15 {
    width: 62.5px;
  }
  .col-xxl-16 {
    width: 66.66667px;
  }
  .col-xxl-17 {
    width: 70.83333px;
  }
  .col-xxl-18 {
    width: 75px;
  }
  .col-xxl-19 {
    width: 79.16667px;
  }
  .col-xxl-20 {
    width: 83.33333px;
  }
  .col-xxl-21 {
    width: 87.5px;
  }
  .col-xxl-22 {
    width: 91.66667px;
  }
  .col-xxl-23 {
    width: 95.83333px;
  }
  .col-xxl-24 {
    width: 100px;
  }
}

@media (min-width: 1921px) {
  .col-xxxl-1 {
    width: 4.16667px;
  }
  .col-xxxl-2 {
    width: 8.33333px;
  }
  .col-xxxl-3 {
    width: 12.5px;
  }
  .col-xxxl-4 {
    width: 16.66667px;
  }
  .col-xxxl-5 {
    width: 20.83333px;
  }
  .col-xxxl-6 {
    width: 25px;
  }
  .col-xxxl-7 {
    width: 29.16667px;
  }
  .col-xxxl-8 {
    width: 33.33333px;
  }
  .col-xxxl-9 {
    width: 37.5px;
  }
  .col-xxxl-10 {
    width: 41.66667px;
  }
  .col-xxxl-11 {
    width: 45.83333px;
  }
  .col-xxxl-12 {
    width: 50px;
  }
  .col-xxxl-13 {
    width: 54.16667px;
  }
  .col-xxxl-14 {
    width: 58.33333px;
  }
  .col-xxxl-15 {
    width: 62.5px;
  }
  .col-xxxl-16 {
    width: 66.66667px;
  }
  .col-xxxl-17 {
    width: 70.83333px;
  }
  .col-xxxl-18 {
    width: 75px;
  }
  .col-xxxl-19 {
    width: 79.16667px;
  }
  .col-xxxl-20 {
    width: 83.33333px;
  }
  .col-xxxl-21 {
    width: 87.5px;
  }
  .col-xxxl-22 {
    width: 91.66667px;
  }
  .col-xxxl-23 {
    width: 95.83333px;
  }
  .col-xxxl-24 {
    width: 100px;
  }
}
/*# sourceMappingURL=grids.css.map */