.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.p-4 {
  padding: 20px;
}

.p-5 {
  padding: 25px;
}

.p-6 {
  padding: 30px;
}

.p-7 {
  padding: 35px;
}

.p-8 {
  padding: 40px;
}

.p-9 {
  padding: 45px;
}

.p-10 {
  padding: 50px;
}

.p-11 {
  padding: 55px;
}

.p-12 {
  padding: 60px;
}

.p-13 {
  padding: 65px;
}

.p-14 {
  padding: 70px;
}

.p-15 {
  padding: 75px;
}

.p-16 {
  padding: 80px;
}

.p-17 {
  padding: 85px;
}

.p-18 {
  padding: 90px;
}

.p-19 {
  padding: 95px;
}

.p-20 {
  padding: 100px;
}

.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 15px;
}

.pt-4 {
  padding-top: 20px;
}

.pt-5 {
  padding-top: 25px;
}

.pt-6 {
  padding-top: 30px;
}

.pt-7 {
  padding-top: 35px;
}

.pt-8 {
  padding-top: 40px;
}

.pt-9 {
  padding-top: 45px;
}

.pt-10 {
  padding-top: 50px;
}

.pt-11 {
  padding-top: 55px;
}

.pt-12 {
  padding-top: 60px;
}

.pt-13 {
  padding-top: 65px;
}

.pt-14 {
  padding-top: 70px;
}

.pt-15 {
  padding-top: 75px;
}

.pt-16 {
  padding-top: 80px;
}

.pt-17 {
  padding-top: 85px;
}

.pt-18 {
  padding-top: 90px;
}

.pt-19 {
  padding-top: 95px;
}

.pt-20 {
  padding-top: 100px;
}

.pr-1 {
  padding-right: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pr-3 {
  padding-right: 15px;
}

.pr-4 {
  padding-right: 20px;
}

.pr-5 {
  padding-right: 25px;
}

.pr-6 {
  padding-right: 30px;
}

.pr-7 {
  padding-right: 35px;
}

.pr-8 {
  padding-right: 40px;
}

.pr-9 {
  padding-right: 45px;
}

.pr-10 {
  padding-right: 50px;
}

.pr-11 {
  padding-right: 55px;
}

.pr-12 {
  padding-right: 60px;
}

.pr-13 {
  padding-right: 65px;
}

.pr-14 {
  padding-right: 70px;
}

.pr-15 {
  padding-right: 75px;
}

.pr-16 {
  padding-right: 80px;
}

.pr-17 {
  padding-right: 85px;
}

.pr-18 {
  padding-right: 90px;
}

.pr-19 {
  padding-right: 95px;
}

.pr-20 {
  padding-right: 100px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pb-5 {
  padding-bottom: 25px;
}

.pb-6 {
  padding-bottom: 30px;
}

.pb-7 {
  padding-bottom: 35px;
}

.pb-8 {
  padding-bottom: 40px;
}

.pb-9 {
  padding-bottom: 45px;
}

.pb-10 {
  padding-bottom: 50px;
}

.pb-11 {
  padding-bottom: 55px;
}

.pb-12 {
  padding-bottom: 60px;
}

.pb-13 {
  padding-bottom: 65px;
}

.pb-14 {
  padding-bottom: 70px;
}

.pb-15 {
  padding-bottom: 75px;
}

.pb-16 {
  padding-bottom: 80px;
}

.pb-17 {
  padding-bottom: 85px;
}

.pb-18 {
  padding-bottom: 90px;
}

.pb-19 {
  padding-bottom: 95px;
}

.pb-20 {
  padding-bottom: 100px;
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 15px;
}

.pl-4 {
  padding-left: 20px;
}

.pl-5 {
  padding-left: 25px;
}

.pl-6 {
  padding-left: 30px;
}

.pl-7 {
  padding-left: 35px;
}

.pl-8 {
  padding-left: 40px;
}

.pl-9 {
  padding-left: 45px;
}

.pl-10 {
  padding-left: 50px;
}

.pl-11 {
  padding-left: 55px;
}

.pl-12 {
  padding-left: 60px;
}

.pl-13 {
  padding-left: 65px;
}

.pl-14 {
  padding-left: 70px;
}

.pl-15 {
  padding-left: 75px;
}

.pl-16 {
  padding-left: 80px;
}

.pl-17 {
  padding-left: 85px;
}

.pl-18 {
  padding-left: 90px;
}

.pl-19 {
  padding-left: 95px;
}

.pl-20 {
  padding-left: 100px;
}

@media (min-width: 576px) {
  .p-sm-0 {
    padding: 0px;
  }
  .pt-sm-0 {
    padding-top: 0px;
  }
  .pr-sm-0 {
    padding-right: 0px;
  }
  .pb-sm-0 {
    padding-bottom: 0px;
  }
  .pl-sm-0 {
    padding-left: 0px;
  }
  .p-sm-1 {
    padding: 5px;
  }
  .pt-sm-1 {
    padding-top: 5px;
  }
  .pr-sm-1 {
    padding-right: 5px;
  }
  .pb-sm-1 {
    padding-bottom: 5px;
  }
  .pl-sm-1 {
    padding-left: 5px;
  }
  .p-sm-2 {
    padding: 10px;
  }
  .pt-sm-2 {
    padding-top: 10px;
  }
  .pr-sm-2 {
    padding-right: 10px;
  }
  .pb-sm-2 {
    padding-bottom: 10px;
  }
  .pl-sm-2 {
    padding-left: 10px;
  }
  .p-sm-3 {
    padding: 15px;
  }
  .pt-sm-3 {
    padding-top: 15px;
  }
  .pr-sm-3 {
    padding-right: 15px;
  }
  .pb-sm-3 {
    padding-bottom: 15px;
  }
  .pl-sm-3 {
    padding-left: 15px;
  }
  .p-sm-4 {
    padding: 20px;
  }
  .pt-sm-4 {
    padding-top: 20px;
  }
  .pr-sm-4 {
    padding-right: 20px;
  }
  .pb-sm-4 {
    padding-bottom: 20px;
  }
  .pl-sm-4 {
    padding-left: 20px;
  }
  .p-sm-5 {
    padding: 25px;
  }
  .pt-sm-5 {
    padding-top: 25px;
  }
  .pr-sm-5 {
    padding-right: 25px;
  }
  .pb-sm-5 {
    padding-bottom: 25px;
  }
  .pl-sm-5 {
    padding-left: 25px;
  }
  .p-sm-6 {
    padding: 30px;
  }
  .pt-sm-6 {
    padding-top: 30px;
  }
  .pr-sm-6 {
    padding-right: 30px;
  }
  .pb-sm-6 {
    padding-bottom: 30px;
  }
  .pl-sm-6 {
    padding-left: 30px;
  }
  .p-sm-7 {
    padding: 35px;
  }
  .pt-sm-7 {
    padding-top: 35px;
  }
  .pr-sm-7 {
    padding-right: 35px;
  }
  .pb-sm-7 {
    padding-bottom: 35px;
  }
  .pl-sm-7 {
    padding-left: 35px;
  }
  .p-sm-8 {
    padding: 40px;
  }
  .pt-sm-8 {
    padding-top: 40px;
  }
  .pr-sm-8 {
    padding-right: 40px;
  }
  .pb-sm-8 {
    padding-bottom: 40px;
  }
  .pl-sm-8 {
    padding-left: 40px;
  }
  .p-sm-9 {
    padding: 45px;
  }
  .pt-sm-9 {
    padding-top: 45px;
  }
  .pr-sm-9 {
    padding-right: 45px;
  }
  .pb-sm-9 {
    padding-bottom: 45px;
  }
  .pl-sm-9 {
    padding-left: 45px;
  }
  .p-sm-10 {
    padding: 50px;
  }
  .pt-sm-10 {
    padding-top: 50px;
  }
  .pr-sm-10 {
    padding-right: 50px;
  }
  .pb-sm-10 {
    padding-bottom: 50px;
  }
  .pl-sm-10 {
    padding-left: 50px;
  }
  .p-sm-11 {
    padding: 55px;
  }
  .pt-sm-11 {
    padding-top: 55px;
  }
  .pr-sm-11 {
    padding-right: 55px;
  }
  .pb-sm-11 {
    padding-bottom: 55px;
  }
  .pl-sm-11 {
    padding-left: 55px;
  }
  .p-sm-12 {
    padding: 60px;
  }
  .pt-sm-12 {
    padding-top: 60px;
  }
  .pr-sm-12 {
    padding-right: 60px;
  }
  .pb-sm-12 {
    padding-bottom: 60px;
  }
  .pl-sm-12 {
    padding-left: 60px;
  }
  .p-sm-13 {
    padding: 65px;
  }
  .pt-sm-13 {
    padding-top: 65px;
  }
  .pr-sm-13 {
    padding-right: 65px;
  }
  .pb-sm-13 {
    padding-bottom: 65px;
  }
  .pl-sm-13 {
    padding-left: 65px;
  }
  .p-sm-14 {
    padding: 70px;
  }
  .pt-sm-14 {
    padding-top: 70px;
  }
  .pr-sm-14 {
    padding-right: 70px;
  }
  .pb-sm-14 {
    padding-bottom: 70px;
  }
  .pl-sm-14 {
    padding-left: 70px;
  }
  .p-sm-15 {
    padding: 75px;
  }
  .pt-sm-15 {
    padding-top: 75px;
  }
  .pr-sm-15 {
    padding-right: 75px;
  }
  .pb-sm-15 {
    padding-bottom: 75px;
  }
  .pl-sm-15 {
    padding-left: 75px;
  }
  .p-sm-16 {
    padding: 80px;
  }
  .pt-sm-16 {
    padding-top: 80px;
  }
  .pr-sm-16 {
    padding-right: 80px;
  }
  .pb-sm-16 {
    padding-bottom: 80px;
  }
  .pl-sm-16 {
    padding-left: 80px;
  }
  .p-sm-17 {
    padding: 85px;
  }
  .pt-sm-17 {
    padding-top: 85px;
  }
  .pr-sm-17 {
    padding-right: 85px;
  }
  .pb-sm-17 {
    padding-bottom: 85px;
  }
  .pl-sm-17 {
    padding-left: 85px;
  }
  .p-sm-18 {
    padding: 90px;
  }
  .pt-sm-18 {
    padding-top: 90px;
  }
  .pr-sm-18 {
    padding-right: 90px;
  }
  .pb-sm-18 {
    padding-bottom: 90px;
  }
  .pl-sm-18 {
    padding-left: 90px;
  }
  .p-sm-19 {
    padding: 95px;
  }
  .pt-sm-19 {
    padding-top: 95px;
  }
  .pr-sm-19 {
    padding-right: 95px;
  }
  .pb-sm-19 {
    padding-bottom: 95px;
  }
  .pl-sm-19 {
    padding-left: 95px;
  }
  .p-sm-20 {
    padding: 100px;
  }
  .pt-sm-20 {
    padding-top: 100px;
  }
  .pr-sm-20 {
    padding-right: 100px;
  }
  .pb-sm-20 {
    padding-bottom: 100px;
  }
  .pl-sm-20 {
    padding-left: 100px;
  }
}

@media (min-width: 768px) {
  .p-md-0 {
    padding: 0px;
  }
  .pt-md-0 {
    padding-top: 0px;
  }
  .pr-md-0 {
    padding-right: 0px;
  }
  .pb-md-0 {
    padding-bottom: 0px;
  }
  .pl-md-0 {
    padding-left: 0px;
  }
  .p-md-1 {
    padding: 5px;
  }
  .pt-md-1 {
    padding-top: 5px;
  }
  .pr-md-1 {
    padding-right: 5px;
  }
  .pb-md-1 {
    padding-bottom: 5px;
  }
  .pl-md-1 {
    padding-left: 5px;
  }
  .p-md-2 {
    padding: 10px;
  }
  .pt-md-2 {
    padding-top: 10px;
  }
  .pr-md-2 {
    padding-right: 10px;
  }
  .pb-md-2 {
    padding-bottom: 10px;
  }
  .pl-md-2 {
    padding-left: 10px;
  }
  .p-md-3 {
    padding: 15px;
  }
  .pt-md-3 {
    padding-top: 15px;
  }
  .pr-md-3 {
    padding-right: 15px;
  }
  .pb-md-3 {
    padding-bottom: 15px;
  }
  .pl-md-3 {
    padding-left: 15px;
  }
  .p-md-4 {
    padding: 20px;
  }
  .pt-md-4 {
    padding-top: 20px;
  }
  .pr-md-4 {
    padding-right: 20px;
  }
  .pb-md-4 {
    padding-bottom: 20px;
  }
  .pl-md-4 {
    padding-left: 20px;
  }
  .p-md-5 {
    padding: 25px;
  }
  .pt-md-5 {
    padding-top: 25px;
  }
  .pr-md-5 {
    padding-right: 25px;
  }
  .pb-md-5 {
    padding-bottom: 25px;
  }
  .pl-md-5 {
    padding-left: 25px;
  }
  .p-md-6 {
    padding: 30px;
  }
  .pt-md-6 {
    padding-top: 30px;
  }
  .pr-md-6 {
    padding-right: 30px;
  }
  .pb-md-6 {
    padding-bottom: 30px;
  }
  .pl-md-6 {
    padding-left: 30px;
  }
  .p-md-7 {
    padding: 35px;
  }
  .pt-md-7 {
    padding-top: 35px;
  }
  .pr-md-7 {
    padding-right: 35px;
  }
  .pb-md-7 {
    padding-bottom: 35px;
  }
  .pl-md-7 {
    padding-left: 35px;
  }
  .p-md-8 {
    padding: 40px;
  }
  .pt-md-8 {
    padding-top: 40px;
  }
  .pr-md-8 {
    padding-right: 40px;
  }
  .pb-md-8 {
    padding-bottom: 40px;
  }
  .pl-md-8 {
    padding-left: 40px;
  }
  .p-md-9 {
    padding: 45px;
  }
  .pt-md-9 {
    padding-top: 45px;
  }
  .pr-md-9 {
    padding-right: 45px;
  }
  .pb-md-9 {
    padding-bottom: 45px;
  }
  .pl-md-9 {
    padding-left: 45px;
  }
  .p-md-10 {
    padding: 50px;
  }
  .pt-md-10 {
    padding-top: 50px;
  }
  .pr-md-10 {
    padding-right: 50px;
  }
  .pb-md-10 {
    padding-bottom: 50px;
  }
  .pl-md-10 {
    padding-left: 50px;
  }
  .p-md-11 {
    padding: 55px;
  }
  .pt-md-11 {
    padding-top: 55px;
  }
  .pr-md-11 {
    padding-right: 55px;
  }
  .pb-md-11 {
    padding-bottom: 55px;
  }
  .pl-md-11 {
    padding-left: 55px;
  }
  .p-md-12 {
    padding: 60px;
  }
  .pt-md-12 {
    padding-top: 60px;
  }
  .pr-md-12 {
    padding-right: 60px;
  }
  .pb-md-12 {
    padding-bottom: 60px;
  }
  .pl-md-12 {
    padding-left: 60px;
  }
  .p-md-13 {
    padding: 65px;
  }
  .pt-md-13 {
    padding-top: 65px;
  }
  .pr-md-13 {
    padding-right: 65px;
  }
  .pb-md-13 {
    padding-bottom: 65px;
  }
  .pl-md-13 {
    padding-left: 65px;
  }
  .p-md-14 {
    padding: 70px;
  }
  .pt-md-14 {
    padding-top: 70px;
  }
  .pr-md-14 {
    padding-right: 70px;
  }
  .pb-md-14 {
    padding-bottom: 70px;
  }
  .pl-md-14 {
    padding-left: 70px;
  }
  .p-md-15 {
    padding: 75px;
  }
  .pt-md-15 {
    padding-top: 75px;
  }
  .pr-md-15 {
    padding-right: 75px;
  }
  .pb-md-15 {
    padding-bottom: 75px;
  }
  .pl-md-15 {
    padding-left: 75px;
  }
  .p-md-16 {
    padding: 80px;
  }
  .pt-md-16 {
    padding-top: 80px;
  }
  .pr-md-16 {
    padding-right: 80px;
  }
  .pb-md-16 {
    padding-bottom: 80px;
  }
  .pl-md-16 {
    padding-left: 80px;
  }
  .p-md-17 {
    padding: 85px;
  }
  .pt-md-17 {
    padding-top: 85px;
  }
  .pr-md-17 {
    padding-right: 85px;
  }
  .pb-md-17 {
    padding-bottom: 85px;
  }
  .pl-md-17 {
    padding-left: 85px;
  }
  .p-md-18 {
    padding: 90px;
  }
  .pt-md-18 {
    padding-top: 90px;
  }
  .pr-md-18 {
    padding-right: 90px;
  }
  .pb-md-18 {
    padding-bottom: 90px;
  }
  .pl-md-18 {
    padding-left: 90px;
  }
  .p-md-19 {
    padding: 95px;
  }
  .pt-md-19 {
    padding-top: 95px;
  }
  .pr-md-19 {
    padding-right: 95px;
  }
  .pb-md-19 {
    padding-bottom: 95px;
  }
  .pl-md-19 {
    padding-left: 95px;
  }
  .p-md-20 {
    padding: 100px;
  }
  .pt-md-20 {
    padding-top: 100px;
  }
  .pr-md-20 {
    padding-right: 100px;
  }
  .pb-md-20 {
    padding-bottom: 100px;
  }
  .pl-md-20 {
    padding-left: 100px;
  }
}

@media (min-width: 992px) {
  .p-lg-0 {
    padding: 0px;
  }
  .pt-lg-0 {
    padding-top: 0px;
  }
  .pr-lg-0 {
    padding-right: 0px;
  }
  .pb-lg-0 {
    padding-bottom: 0px;
  }
  .pl-lg-0 {
    padding-left: 0px;
  }
  .p-lg-1 {
    padding: 5px;
  }
  .pt-lg-1 {
    padding-top: 5px;
  }
  .pr-lg-1 {
    padding-right: 5px;
  }
  .pb-lg-1 {
    padding-bottom: 5px;
  }
  .pl-lg-1 {
    padding-left: 5px;
  }
  .p-lg-2 {
    padding: 10px;
  }
  .pt-lg-2 {
    padding-top: 10px;
  }
  .pr-lg-2 {
    padding-right: 10px;
  }
  .pb-lg-2 {
    padding-bottom: 10px;
  }
  .pl-lg-2 {
    padding-left: 10px;
  }
  .p-lg-3 {
    padding: 15px;
  }
  .pt-lg-3 {
    padding-top: 15px;
  }
  .pr-lg-3 {
    padding-right: 15px;
  }
  .pb-lg-3 {
    padding-bottom: 15px;
  }
  .pl-lg-3 {
    padding-left: 15px;
  }
  .p-lg-4 {
    padding: 20px;
  }
  .pt-lg-4 {
    padding-top: 20px;
  }
  .pr-lg-4 {
    padding-right: 20px;
  }
  .pb-lg-4 {
    padding-bottom: 20px;
  }
  .pl-lg-4 {
    padding-left: 20px;
  }
  .p-lg-5 {
    padding: 25px;
  }
  .pt-lg-5 {
    padding-top: 25px;
  }
  .pr-lg-5 {
    padding-right: 25px;
  }
  .pb-lg-5 {
    padding-bottom: 25px;
  }
  .pl-lg-5 {
    padding-left: 25px;
  }
  .p-lg-6 {
    padding: 30px;
  }
  .pt-lg-6 {
    padding-top: 30px;
  }
  .pr-lg-6 {
    padding-right: 30px;
  }
  .pb-lg-6 {
    padding-bottom: 30px;
  }
  .pl-lg-6 {
    padding-left: 30px;
  }
  .p-lg-7 {
    padding: 35px;
  }
  .pt-lg-7 {
    padding-top: 35px;
  }
  .pr-lg-7 {
    padding-right: 35px;
  }
  .pb-lg-7 {
    padding-bottom: 35px;
  }
  .pl-lg-7 {
    padding-left: 35px;
  }
  .p-lg-8 {
    padding: 40px;
  }
  .pt-lg-8 {
    padding-top: 40px;
  }
  .pr-lg-8 {
    padding-right: 40px;
  }
  .pb-lg-8 {
    padding-bottom: 40px;
  }
  .pl-lg-8 {
    padding-left: 40px;
  }
  .p-lg-9 {
    padding: 45px;
  }
  .pt-lg-9 {
    padding-top: 45px;
  }
  .pr-lg-9 {
    padding-right: 45px;
  }
  .pb-lg-9 {
    padding-bottom: 45px;
  }
  .pl-lg-9 {
    padding-left: 45px;
  }
  .p-lg-10 {
    padding: 50px;
  }
  .pt-lg-10 {
    padding-top: 50px;
  }
  .pr-lg-10 {
    padding-right: 50px;
  }
  .pb-lg-10 {
    padding-bottom: 50px;
  }
  .pl-lg-10 {
    padding-left: 50px;
  }
  .p-lg-11 {
    padding: 55px;
  }
  .pt-lg-11 {
    padding-top: 55px;
  }
  .pr-lg-11 {
    padding-right: 55px;
  }
  .pb-lg-11 {
    padding-bottom: 55px;
  }
  .pl-lg-11 {
    padding-left: 55px;
  }
  .p-lg-12 {
    padding: 60px;
  }
  .pt-lg-12 {
    padding-top: 60px;
  }
  .pr-lg-12 {
    padding-right: 60px;
  }
  .pb-lg-12 {
    padding-bottom: 60px;
  }
  .pl-lg-12 {
    padding-left: 60px;
  }
  .p-lg-13 {
    padding: 65px;
  }
  .pt-lg-13 {
    padding-top: 65px;
  }
  .pr-lg-13 {
    padding-right: 65px;
  }
  .pb-lg-13 {
    padding-bottom: 65px;
  }
  .pl-lg-13 {
    padding-left: 65px;
  }
  .p-lg-14 {
    padding: 70px;
  }
  .pt-lg-14 {
    padding-top: 70px;
  }
  .pr-lg-14 {
    padding-right: 70px;
  }
  .pb-lg-14 {
    padding-bottom: 70px;
  }
  .pl-lg-14 {
    padding-left: 70px;
  }
  .p-lg-15 {
    padding: 75px;
  }
  .pt-lg-15 {
    padding-top: 75px;
  }
  .pr-lg-15 {
    padding-right: 75px;
  }
  .pb-lg-15 {
    padding-bottom: 75px;
  }
  .pl-lg-15 {
    padding-left: 75px;
  }
  .p-lg-16 {
    padding: 80px;
  }
  .pt-lg-16 {
    padding-top: 80px;
  }
  .pr-lg-16 {
    padding-right: 80px;
  }
  .pb-lg-16 {
    padding-bottom: 80px;
  }
  .pl-lg-16 {
    padding-left: 80px;
  }
  .p-lg-17 {
    padding: 85px;
  }
  .pt-lg-17 {
    padding-top: 85px;
  }
  .pr-lg-17 {
    padding-right: 85px;
  }
  .pb-lg-17 {
    padding-bottom: 85px;
  }
  .pl-lg-17 {
    padding-left: 85px;
  }
  .p-lg-18 {
    padding: 90px;
  }
  .pt-lg-18 {
    padding-top: 90px;
  }
  .pr-lg-18 {
    padding-right: 90px;
  }
  .pb-lg-18 {
    padding-bottom: 90px;
  }
  .pl-lg-18 {
    padding-left: 90px;
  }
  .p-lg-19 {
    padding: 95px;
  }
  .pt-lg-19 {
    padding-top: 95px;
  }
  .pr-lg-19 {
    padding-right: 95px;
  }
  .pb-lg-19 {
    padding-bottom: 95px;
  }
  .pl-lg-19 {
    padding-left: 95px;
  }
  .p-lg-20 {
    padding: 100px;
  }
  .pt-lg-20 {
    padding-top: 100px;
  }
  .pr-lg-20 {
    padding-right: 100px;
  }
  .pb-lg-20 {
    padding-bottom: 100px;
  }
  .pl-lg-20 {
    padding-left: 100px;
  }
}

@media (min-width: 1200px) {
  .p-xl-0 {
    padding: 0px;
  }
  .pt-xl-0 {
    padding-top: 0px;
  }
  .pr-xl-0 {
    padding-right: 0px;
  }
  .pb-xl-0 {
    padding-bottom: 0px;
  }
  .pl-xl-0 {
    padding-left: 0px;
  }
  .p-xl-1 {
    padding: 5px;
  }
  .pt-xl-1 {
    padding-top: 5px;
  }
  .pr-xl-1 {
    padding-right: 5px;
  }
  .pb-xl-1 {
    padding-bottom: 5px;
  }
  .pl-xl-1 {
    padding-left: 5px;
  }
  .p-xl-2 {
    padding: 10px;
  }
  .pt-xl-2 {
    padding-top: 10px;
  }
  .pr-xl-2 {
    padding-right: 10px;
  }
  .pb-xl-2 {
    padding-bottom: 10px;
  }
  .pl-xl-2 {
    padding-left: 10px;
  }
  .p-xl-3 {
    padding: 15px;
  }
  .pt-xl-3 {
    padding-top: 15px;
  }
  .pr-xl-3 {
    padding-right: 15px;
  }
  .pb-xl-3 {
    padding-bottom: 15px;
  }
  .pl-xl-3 {
    padding-left: 15px;
  }
  .p-xl-4 {
    padding: 20px;
  }
  .pt-xl-4 {
    padding-top: 20px;
  }
  .pr-xl-4 {
    padding-right: 20px;
  }
  .pb-xl-4 {
    padding-bottom: 20px;
  }
  .pl-xl-4 {
    padding-left: 20px;
  }
  .p-xl-5 {
    padding: 25px;
  }
  .pt-xl-5 {
    padding-top: 25px;
  }
  .pr-xl-5 {
    padding-right: 25px;
  }
  .pb-xl-5 {
    padding-bottom: 25px;
  }
  .pl-xl-5 {
    padding-left: 25px;
  }
  .p-xl-6 {
    padding: 30px;
  }
  .pt-xl-6 {
    padding-top: 30px;
  }
  .pr-xl-6 {
    padding-right: 30px;
  }
  .pb-xl-6 {
    padding-bottom: 30px;
  }
  .pl-xl-6 {
    padding-left: 30px;
  }
  .p-xl-7 {
    padding: 35px;
  }
  .pt-xl-7 {
    padding-top: 35px;
  }
  .pr-xl-7 {
    padding-right: 35px;
  }
  .pb-xl-7 {
    padding-bottom: 35px;
  }
  .pl-xl-7 {
    padding-left: 35px;
  }
  .p-xl-8 {
    padding: 40px;
  }
  .pt-xl-8 {
    padding-top: 40px;
  }
  .pr-xl-8 {
    padding-right: 40px;
  }
  .pb-xl-8 {
    padding-bottom: 40px;
  }
  .pl-xl-8 {
    padding-left: 40px;
  }
  .p-xl-9 {
    padding: 45px;
  }
  .pt-xl-9 {
    padding-top: 45px;
  }
  .pr-xl-9 {
    padding-right: 45px;
  }
  .pb-xl-9 {
    padding-bottom: 45px;
  }
  .pl-xl-9 {
    padding-left: 45px;
  }
  .p-xl-10 {
    padding: 50px;
  }
  .pt-xl-10 {
    padding-top: 50px;
  }
  .pr-xl-10 {
    padding-right: 50px;
  }
  .pb-xl-10 {
    padding-bottom: 50px;
  }
  .pl-xl-10 {
    padding-left: 50px;
  }
  .p-xl-11 {
    padding: 55px;
  }
  .pt-xl-11 {
    padding-top: 55px;
  }
  .pr-xl-11 {
    padding-right: 55px;
  }
  .pb-xl-11 {
    padding-bottom: 55px;
  }
  .pl-xl-11 {
    padding-left: 55px;
  }
  .p-xl-12 {
    padding: 60px;
  }
  .pt-xl-12 {
    padding-top: 60px;
  }
  .pr-xl-12 {
    padding-right: 60px;
  }
  .pb-xl-12 {
    padding-bottom: 60px;
  }
  .pl-xl-12 {
    padding-left: 60px;
  }
  .p-xl-13 {
    padding: 65px;
  }
  .pt-xl-13 {
    padding-top: 65px;
  }
  .pr-xl-13 {
    padding-right: 65px;
  }
  .pb-xl-13 {
    padding-bottom: 65px;
  }
  .pl-xl-13 {
    padding-left: 65px;
  }
  .p-xl-14 {
    padding: 70px;
  }
  .pt-xl-14 {
    padding-top: 70px;
  }
  .pr-xl-14 {
    padding-right: 70px;
  }
  .pb-xl-14 {
    padding-bottom: 70px;
  }
  .pl-xl-14 {
    padding-left: 70px;
  }
  .p-xl-15 {
    padding: 75px;
  }
  .pt-xl-15 {
    padding-top: 75px;
  }
  .pr-xl-15 {
    padding-right: 75px;
  }
  .pb-xl-15 {
    padding-bottom: 75px;
  }
  .pl-xl-15 {
    padding-left: 75px;
  }
  .p-xl-16 {
    padding: 80px;
  }
  .pt-xl-16 {
    padding-top: 80px;
  }
  .pr-xl-16 {
    padding-right: 80px;
  }
  .pb-xl-16 {
    padding-bottom: 80px;
  }
  .pl-xl-16 {
    padding-left: 80px;
  }
  .p-xl-17 {
    padding: 85px;
  }
  .pt-xl-17 {
    padding-top: 85px;
  }
  .pr-xl-17 {
    padding-right: 85px;
  }
  .pb-xl-17 {
    padding-bottom: 85px;
  }
  .pl-xl-17 {
    padding-left: 85px;
  }
  .p-xl-18 {
    padding: 90px;
  }
  .pt-xl-18 {
    padding-top: 90px;
  }
  .pr-xl-18 {
    padding-right: 90px;
  }
  .pb-xl-18 {
    padding-bottom: 90px;
  }
  .pl-xl-18 {
    padding-left: 90px;
  }
  .p-xl-19 {
    padding: 95px;
  }
  .pt-xl-19 {
    padding-top: 95px;
  }
  .pr-xl-19 {
    padding-right: 95px;
  }
  .pb-xl-19 {
    padding-bottom: 95px;
  }
  .pl-xl-19 {
    padding-left: 95px;
  }
  .p-xl-20 {
    padding: 100px;
  }
  .pt-xl-20 {
    padding-top: 100px;
  }
  .pr-xl-20 {
    padding-right: 100px;
  }
  .pb-xl-20 {
    padding-bottom: 100px;
  }
  .pl-xl-20 {
    padding-left: 100px;
  }
}

@media (min-width: 1367px) {
  .p-xxl-0 {
    padding: 0px;
  }
  .pt-xxl-0 {
    padding-top: 0px;
  }
  .pr-xxl-0 {
    padding-right: 0px;
  }
  .pb-xxl-0 {
    padding-bottom: 0px;
  }
  .pl-xxl-0 {
    padding-left: 0px;
  }
  .p-xxl-1 {
    padding: 5px;
  }
  .pt-xxl-1 {
    padding-top: 5px;
  }
  .pr-xxl-1 {
    padding-right: 5px;
  }
  .pb-xxl-1 {
    padding-bottom: 5px;
  }
  .pl-xxl-1 {
    padding-left: 5px;
  }
  .p-xxl-2 {
    padding: 10px;
  }
  .pt-xxl-2 {
    padding-top: 10px;
  }
  .pr-xxl-2 {
    padding-right: 10px;
  }
  .pb-xxl-2 {
    padding-bottom: 10px;
  }
  .pl-xxl-2 {
    padding-left: 10px;
  }
  .p-xxl-3 {
    padding: 15px;
  }
  .pt-xxl-3 {
    padding-top: 15px;
  }
  .pr-xxl-3 {
    padding-right: 15px;
  }
  .pb-xxl-3 {
    padding-bottom: 15px;
  }
  .pl-xxl-3 {
    padding-left: 15px;
  }
  .p-xxl-4 {
    padding: 20px;
  }
  .pt-xxl-4 {
    padding-top: 20px;
  }
  .pr-xxl-4 {
    padding-right: 20px;
  }
  .pb-xxl-4 {
    padding-bottom: 20px;
  }
  .pl-xxl-4 {
    padding-left: 20px;
  }
  .p-xxl-5 {
    padding: 25px;
  }
  .pt-xxl-5 {
    padding-top: 25px;
  }
  .pr-xxl-5 {
    padding-right: 25px;
  }
  .pb-xxl-5 {
    padding-bottom: 25px;
  }
  .pl-xxl-5 {
    padding-left: 25px;
  }
  .p-xxl-6 {
    padding: 30px;
  }
  .pt-xxl-6 {
    padding-top: 30px;
  }
  .pr-xxl-6 {
    padding-right: 30px;
  }
  .pb-xxl-6 {
    padding-bottom: 30px;
  }
  .pl-xxl-6 {
    padding-left: 30px;
  }
  .p-xxl-7 {
    padding: 35px;
  }
  .pt-xxl-7 {
    padding-top: 35px;
  }
  .pr-xxl-7 {
    padding-right: 35px;
  }
  .pb-xxl-7 {
    padding-bottom: 35px;
  }
  .pl-xxl-7 {
    padding-left: 35px;
  }
  .p-xxl-8 {
    padding: 40px;
  }
  .pt-xxl-8 {
    padding-top: 40px;
  }
  .pr-xxl-8 {
    padding-right: 40px;
  }
  .pb-xxl-8 {
    padding-bottom: 40px;
  }
  .pl-xxl-8 {
    padding-left: 40px;
  }
  .p-xxl-9 {
    padding: 45px;
  }
  .pt-xxl-9 {
    padding-top: 45px;
  }
  .pr-xxl-9 {
    padding-right: 45px;
  }
  .pb-xxl-9 {
    padding-bottom: 45px;
  }
  .pl-xxl-9 {
    padding-left: 45px;
  }
  .p-xxl-10 {
    padding: 50px;
  }
  .pt-xxl-10 {
    padding-top: 50px;
  }
  .pr-xxl-10 {
    padding-right: 50px;
  }
  .pb-xxl-10 {
    padding-bottom: 50px;
  }
  .pl-xxl-10 {
    padding-left: 50px;
  }
  .p-xxl-11 {
    padding: 55px;
  }
  .pt-xxl-11 {
    padding-top: 55px;
  }
  .pr-xxl-11 {
    padding-right: 55px;
  }
  .pb-xxl-11 {
    padding-bottom: 55px;
  }
  .pl-xxl-11 {
    padding-left: 55px;
  }
  .p-xxl-12 {
    padding: 60px;
  }
  .pt-xxl-12 {
    padding-top: 60px;
  }
  .pr-xxl-12 {
    padding-right: 60px;
  }
  .pb-xxl-12 {
    padding-bottom: 60px;
  }
  .pl-xxl-12 {
    padding-left: 60px;
  }
  .p-xxl-13 {
    padding: 65px;
  }
  .pt-xxl-13 {
    padding-top: 65px;
  }
  .pr-xxl-13 {
    padding-right: 65px;
  }
  .pb-xxl-13 {
    padding-bottom: 65px;
  }
  .pl-xxl-13 {
    padding-left: 65px;
  }
  .p-xxl-14 {
    padding: 70px;
  }
  .pt-xxl-14 {
    padding-top: 70px;
  }
  .pr-xxl-14 {
    padding-right: 70px;
  }
  .pb-xxl-14 {
    padding-bottom: 70px;
  }
  .pl-xxl-14 {
    padding-left: 70px;
  }
  .p-xxl-15 {
    padding: 75px;
  }
  .pt-xxl-15 {
    padding-top: 75px;
  }
  .pr-xxl-15 {
    padding-right: 75px;
  }
  .pb-xxl-15 {
    padding-bottom: 75px;
  }
  .pl-xxl-15 {
    padding-left: 75px;
  }
  .p-xxl-16 {
    padding: 80px;
  }
  .pt-xxl-16 {
    padding-top: 80px;
  }
  .pr-xxl-16 {
    padding-right: 80px;
  }
  .pb-xxl-16 {
    padding-bottom: 80px;
  }
  .pl-xxl-16 {
    padding-left: 80px;
  }
  .p-xxl-17 {
    padding: 85px;
  }
  .pt-xxl-17 {
    padding-top: 85px;
  }
  .pr-xxl-17 {
    padding-right: 85px;
  }
  .pb-xxl-17 {
    padding-bottom: 85px;
  }
  .pl-xxl-17 {
    padding-left: 85px;
  }
  .p-xxl-18 {
    padding: 90px;
  }
  .pt-xxl-18 {
    padding-top: 90px;
  }
  .pr-xxl-18 {
    padding-right: 90px;
  }
  .pb-xxl-18 {
    padding-bottom: 90px;
  }
  .pl-xxl-18 {
    padding-left: 90px;
  }
  .p-xxl-19 {
    padding: 95px;
  }
  .pt-xxl-19 {
    padding-top: 95px;
  }
  .pr-xxl-19 {
    padding-right: 95px;
  }
  .pb-xxl-19 {
    padding-bottom: 95px;
  }
  .pl-xxl-19 {
    padding-left: 95px;
  }
  .p-xxl-20 {
    padding: 100px;
  }
  .pt-xxl-20 {
    padding-top: 100px;
  }
  .pr-xxl-20 {
    padding-right: 100px;
  }
  .pb-xxl-20 {
    padding-bottom: 100px;
  }
  .pl-xxl-20 {
    padding-left: 100px;
  }
}

@media (min-width: 1921px) {
  .p-xxxl-0 {
    padding: 0px;
  }
  .pt-xxxl-0 {
    padding-top: 0px;
  }
  .pr-xxxl-0 {
    padding-right: 0px;
  }
  .pb-xxxl-0 {
    padding-bottom: 0px;
  }
  .pl-xxxl-0 {
    padding-left: 0px;
  }
  .p-xxxl-1 {
    padding: 5px;
  }
  .pt-xxxl-1 {
    padding-top: 5px;
  }
  .pr-xxxl-1 {
    padding-right: 5px;
  }
  .pb-xxxl-1 {
    padding-bottom: 5px;
  }
  .pl-xxxl-1 {
    padding-left: 5px;
  }
  .p-xxxl-2 {
    padding: 10px;
  }
  .pt-xxxl-2 {
    padding-top: 10px;
  }
  .pr-xxxl-2 {
    padding-right: 10px;
  }
  .pb-xxxl-2 {
    padding-bottom: 10px;
  }
  .pl-xxxl-2 {
    padding-left: 10px;
  }
  .p-xxxl-3 {
    padding: 15px;
  }
  .pt-xxxl-3 {
    padding-top: 15px;
  }
  .pr-xxxl-3 {
    padding-right: 15px;
  }
  .pb-xxxl-3 {
    padding-bottom: 15px;
  }
  .pl-xxxl-3 {
    padding-left: 15px;
  }
  .p-xxxl-4 {
    padding: 20px;
  }
  .pt-xxxl-4 {
    padding-top: 20px;
  }
  .pr-xxxl-4 {
    padding-right: 20px;
  }
  .pb-xxxl-4 {
    padding-bottom: 20px;
  }
  .pl-xxxl-4 {
    padding-left: 20px;
  }
  .p-xxxl-5 {
    padding: 25px;
  }
  .pt-xxxl-5 {
    padding-top: 25px;
  }
  .pr-xxxl-5 {
    padding-right: 25px;
  }
  .pb-xxxl-5 {
    padding-bottom: 25px;
  }
  .pl-xxxl-5 {
    padding-left: 25px;
  }
  .p-xxxl-6 {
    padding: 30px;
  }
  .pt-xxxl-6 {
    padding-top: 30px;
  }
  .pr-xxxl-6 {
    padding-right: 30px;
  }
  .pb-xxxl-6 {
    padding-bottom: 30px;
  }
  .pl-xxxl-6 {
    padding-left: 30px;
  }
  .p-xxxl-7 {
    padding: 35px;
  }
  .pt-xxxl-7 {
    padding-top: 35px;
  }
  .pr-xxxl-7 {
    padding-right: 35px;
  }
  .pb-xxxl-7 {
    padding-bottom: 35px;
  }
  .pl-xxxl-7 {
    padding-left: 35px;
  }
  .p-xxxl-8 {
    padding: 40px;
  }
  .pt-xxxl-8 {
    padding-top: 40px;
  }
  .pr-xxxl-8 {
    padding-right: 40px;
  }
  .pb-xxxl-8 {
    padding-bottom: 40px;
  }
  .pl-xxxl-8 {
    padding-left: 40px;
  }
  .p-xxxl-9 {
    padding: 45px;
  }
  .pt-xxxl-9 {
    padding-top: 45px;
  }
  .pr-xxxl-9 {
    padding-right: 45px;
  }
  .pb-xxxl-9 {
    padding-bottom: 45px;
  }
  .pl-xxxl-9 {
    padding-left: 45px;
  }
  .p-xxxl-10 {
    padding: 50px;
  }
  .pt-xxxl-10 {
    padding-top: 50px;
  }
  .pr-xxxl-10 {
    padding-right: 50px;
  }
  .pb-xxxl-10 {
    padding-bottom: 50px;
  }
  .pl-xxxl-10 {
    padding-left: 50px;
  }
  .p-xxxl-11 {
    padding: 55px;
  }
  .pt-xxxl-11 {
    padding-top: 55px;
  }
  .pr-xxxl-11 {
    padding-right: 55px;
  }
  .pb-xxxl-11 {
    padding-bottom: 55px;
  }
  .pl-xxxl-11 {
    padding-left: 55px;
  }
  .p-xxxl-12 {
    padding: 60px;
  }
  .pt-xxxl-12 {
    padding-top: 60px;
  }
  .pr-xxxl-12 {
    padding-right: 60px;
  }
  .pb-xxxl-12 {
    padding-bottom: 60px;
  }
  .pl-xxxl-12 {
    padding-left: 60px;
  }
  .p-xxxl-13 {
    padding: 65px;
  }
  .pt-xxxl-13 {
    padding-top: 65px;
  }
  .pr-xxxl-13 {
    padding-right: 65px;
  }
  .pb-xxxl-13 {
    padding-bottom: 65px;
  }
  .pl-xxxl-13 {
    padding-left: 65px;
  }
  .p-xxxl-14 {
    padding: 70px;
  }
  .pt-xxxl-14 {
    padding-top: 70px;
  }
  .pr-xxxl-14 {
    padding-right: 70px;
  }
  .pb-xxxl-14 {
    padding-bottom: 70px;
  }
  .pl-xxxl-14 {
    padding-left: 70px;
  }
  .p-xxxl-15 {
    padding: 75px;
  }
  .pt-xxxl-15 {
    padding-top: 75px;
  }
  .pr-xxxl-15 {
    padding-right: 75px;
  }
  .pb-xxxl-15 {
    padding-bottom: 75px;
  }
  .pl-xxxl-15 {
    padding-left: 75px;
  }
  .p-xxxl-16 {
    padding: 80px;
  }
  .pt-xxxl-16 {
    padding-top: 80px;
  }
  .pr-xxxl-16 {
    padding-right: 80px;
  }
  .pb-xxxl-16 {
    padding-bottom: 80px;
  }
  .pl-xxxl-16 {
    padding-left: 80px;
  }
  .p-xxxl-17 {
    padding: 85px;
  }
  .pt-xxxl-17 {
    padding-top: 85px;
  }
  .pr-xxxl-17 {
    padding-right: 85px;
  }
  .pb-xxxl-17 {
    padding-bottom: 85px;
  }
  .pl-xxxl-17 {
    padding-left: 85px;
  }
  .p-xxxl-18 {
    padding: 90px;
  }
  .pt-xxxl-18 {
    padding-top: 90px;
  }
  .pr-xxxl-18 {
    padding-right: 90px;
  }
  .pb-xxxl-18 {
    padding-bottom: 90px;
  }
  .pl-xxxl-18 {
    padding-left: 90px;
  }
  .p-xxxl-19 {
    padding: 95px;
  }
  .pt-xxxl-19 {
    padding-top: 95px;
  }
  .pr-xxxl-19 {
    padding-right: 95px;
  }
  .pb-xxxl-19 {
    padding-bottom: 95px;
  }
  .pl-xxxl-19 {
    padding-left: 95px;
  }
  .p-xxxl-20 {
    padding: 100px;
  }
  .pt-xxxl-20 {
    padding-top: 100px;
  }
  .pr-xxxl-20 {
    padding-right: 100px;
  }
  .pb-xxxl-20 {
    padding-bottom: 100px;
  }
  .pl-xxxl-20 {
    padding-left: 100px;
  }
}
/*# sourceMappingURL=paddings.css.map */